body {
  position: absolute;
  /* left: 1225px;
  top: -221px; */
  width: 1440px;
  height: 940px;
  background: #0A1014}

#search__bar {
  position: absolute;
  left: 130px;
  top: 76px;
  width: 1180px;
  height: 44px;
}

#bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1180px;
  height: 44px;
  background: #ffffff;
  background-blend-mode: normal;
}

#placeholde {
  position: absolute;
  left: 40px;
  top: 13px;
  width: 38px;
  height: 19px;
  color: #0a1014;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1741177px;
}

#rectangle {
  position: absolute;
  left: 76px;
  top: 12px;
  width: 1px;
  height: 20px;
  background: #0a1014;
  background-blend-mode: normal;
}

#icon__magn {
  position: absolute;
  left: 12px;
  top: 14px;
  width: 16px;
  height: 16px;
}

#icon__sear {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
}

#line {
  position: absolute;
  left: 10.67px;
  top: 10.67px;
  width: 4px;
  height: 4px;
  border: dashed #7a8c99;
}

#oval4 {
  position: absolute;
  left: 1.33px;
  top: 1.33px;
  width: 10.67px;
  height: 10.67px;
  border: solid #7a8c99;
}

#icon__sear {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
}

#logo {
  position: absolute;
  left: 130px;
  top: 24px;
  width: 111px;
  height: 32px;
}

#group2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 111px;
  height: 32px;
}

#whatsin {
  position: absolute;
  left: 38px;
  top: 10px;
  width: 72.56px;
  height: 12.77px;
  background: #ffffff;
  background-blend-mode: normal;
}

#group {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
}

#oval2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  border: 3px solid #ffffff;
}

#path {
  position: absolute;
  left: 13px;
  top: 10px;
  width: 9.59px;
  height: 12.79px;
  background: #ff9f1c;
  background-blend-mode: normal;
}

#result {
  position: absolute;
  left: 530px;
  top: 156px;
  width: 180px;
  height: 240px;
  background-color: white;
}

#rectangle4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 4px 30px rgba(5,10,13,0.3);
}

#x24icon_he {
  visibility: hidden;
  position: absolute;
  left: 144px;
  top: 12px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 2px;
  top: 3px;
  width: 20px;
  height: 17px;
  border: solid #ffffff;
}

/* #result {
  position: absolute;
  left: 530px;
  top: 416px;
  width: 180px;
  height: 240px;
}

#rectangle4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 4px 30px rgba(5,10,13,0.3);
}

#hover {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
}

#overlay {
  opacity: 0.90000004;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 4px 30px rgba(5,10,13,0.3);
}

#title {
  position: absolute;
  left: 12px;
  top: 157px;
  width: 148px;
  height: 48px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2176471px;
}

#year {
  position: absolute;
  left: 12px;
  top: 209px;
  width: 37px;
  height: 19px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1741177px;
}

#x24icon_he {
  position: absolute;
  left: 144px;
  top: 12px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 2px;
  top: 3px;
  width: 20px;
  height: 17px;
  border: solid #ffffff;
} */

/* #result {
  position: absolute;
  left: 330px;
  top: 156px;
  width: 180px;
  height: 240px;
}

#rectangle4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 4px 30px rgba(5,10,13,0.3);
}

#x24icon_he {
  visibility: hidden;
  position: absolute;
  left: 144px;
  top: 12px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 2px;
  top: 3px;
  width: 20px;
  height: 17px;
  border: solid #ffffff;
} */

/* #result {
  position: absolute;
  left: 330px;
  top: 416px;
  width: 180px;
  height: 240px;
}

#rectangle4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 4px 30px rgba(5,10,13,0.3);
}

#x24icon_he {
  visibility: hidden;
  position: absolute;
  left: 144px;
  top: 12px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 2px;
  top: 3px;
  width: 20px;
  height: 17px;
  border: solid #ffffff;
} */

/* #result {
  position: absolute;
  left: 130px;
  top: 156px;
  width: 180px;
  height: 240px;
}

#rectangle4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 4px 30px rgba(5,10,13,0.3);
}

#x24icon_he {
  visibility: hidden;
  position: absolute;
  left: 144px;
  top: 12px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 1.99px;
  top: 3.47px;
  width: 20.03px;
  height: 17.48px;
  border: solid #ffffff;
} */

/* #result {
  position: absolute;
  left: 130px;
  top: 416px;
  width: 180px;
  height: 240px;
}

#rectangle4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 4px 30px rgba(5,10,13,0.3);
}

#x24icon_he {
  visibility: hidden;
  position: absolute;
  left: 144px;
  top: 12px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 1.99px;
  top: 3.47px;
  width: 20.03px;
  height: 17.48px;
  border: solid #ffffff;
} */

/* #result {
  position: absolute;
  left: 730px;
  top: 156px;
  width: 180px;
  height: 240px;
}

#rectangle4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 4px 30px rgba(5,10,13,0.3);
}

#x24icon_he {
  position: absolute;
  left: 144px;
  top: 12px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 1.99px;
  top: 3.47px;
  width: 20.03px;
  height: 17.48px;
  border: solid #ffffff;
  background: #ffffff;
  background-blend-mode: normal;
} */

/* #result {
  position: absolute;
  left: 730px;
  top: 416px;
  width: 180px;
  height: 240px;
}

#rectangle4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 4px 30px rgba(5,10,13,0.3);
}

#x24icon_he {
  position: absolute;
  left: 144px;
  top: 12px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 1.99px;
  top: 3.47px;
  width: 20.03px;
  height: 17.48px;
  border: solid #ffffff;
  background: #ffffff;
  background-blend-mode: normal;
} */

/* #result {
  position: absolute;
  left: 930px;
  top: 156px;
  width: 180px;
  height: 240px;
}

#rectangle4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 4px 30px rgba(5,10,13,0.3);
}

#x24icon_he {
  visibility: hidden;
  position: absolute;
  left: 144px;
  top: 12px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 1.99px;
  top: 3.47px;
  width: 20.03px;
  height: 17.48px;
  border: solid #ffffff;
} */

/* #result {
  position: absolute;
  left: 1130px;
  top: 156px;
  width: 180px;
  height: 240px;
}

#rectangle4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 4px 30px rgba(5,10,13,0.3);
}

#x24icon_he {
  position: absolute;
  left: 144px;
  top: 12px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

#rectangle1 {
  position: absolute;
  left: 1.99px;
  top: 3.47px;
  width: 20.03px;
  height: 17.48px;
  border: solid #ffffff;
  background: #ffffff;
  background-blend-mode: normal;
}

#pointingha {
  position: absolute;
  left: 632px;
  top: 648px;
  width: 15.06px;
  height: 16.02px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

#hand {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 15.06px;
  height: 16.02px;
  background: #000000;
  background-blend-mode: normal;
}

#white {
  position: absolute;
  left: 0.5px;
  top: 0.5px;
  width: 14px;
  height: 15px;
  background: #ffffff;
  background-blend-mode: normal;
} */
