

body {
  position: absolute;
  /* left: -315px;
  top: -221px; */
  width: 1440px;
  height: 940px;
  background: #0A1014}

/* input[type = "search"] {
  position: absolute;
  left: 130px;
  top: 80px;
  width: 1180px;
  height: 44px;
} */
#search__bar{
  position: absolute;
  left: 280px;
  top: 80px;
  width: 1180px;
  height: 44px;
}

input[type="search"]::placeholder {
   position: absolute;
  left: 40px;
  top: 13px;
  width: 120px;
  height: 19px;
  color: #7a8c99;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1741177px;
}

.icon__magn{
  position: absolute;
  left: 12px;
  top: 14px;
  width: 16px;
  height: 16px; 
}



/* #search-bar {
  position: absolute;
  left: 130px;
  top: 80px;
  width: 1180px;
  height: 44px;
} */

#bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1180px;
  height: 44px;
  background: #ffffff;
  background-blend-mode: normal;
}

#r {
  position: absolute;
  left: 40px;
  top: 13px;
  width: 120px;
  height: 19px;
  color: #7a8c99;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1741177px;
}

.icon__magn {
  position: absolute;
  left: 12px;
  top: 14px;
  width: 16px;
  height: 16px;
}

.icon__sear {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px; 
  background:  transparent url("./icon__search.png") no-repeat;
}

.line {
  position: absolute;
  left: 10.67px;
  top: 10.67px;
  width: 4px;
  height: 4px;
  border: dashed #7a8c99;
}

.oval4 {
  position: absolute;
  left: 1.33px;
  top: 1.33px;
  width: 10.67px;
  height: 10.67px;
  border: solid #7a8c99;
}

/* .icon__sear {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
   
}*/

#logo {
  position: absolute;
  left: 130px;
  top: 24px;
  width: 111px;
  height: 32px;
}

#group2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 111px;
  height: 32px;
}

#whatsin {
  position: absolute;
  left: 38px;
  top: 10px;
  width: 72.56px;
  height: 12.77px;
  background: #ffffff;
  background-blend-mode: normal;
}

#group {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
}

#oval2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  border: 3px solid #ffffff;
}

#path {
  position: absolute;
  left: 13px;
  top: 10px;
  width: 9.59px;
  height: 12.79px;
  background: #ff9f1c;
  background-blend-mode: normal;
}

#illustrati {
  position: absolute;
  left: 620px;
  top: 348px;
  width: 396px;
  height: 193px;
  background:  url("../illustration_empty_state.png")  no-repeat;
}

#dontknowwh {
  position: absolute;
  left: 620px;
  top: 557px;
  width: 301px;
  height: 29px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.2611766px;
}

#heresanoff {
  position: absolute;
  left: 620px;
  top: 593px;
  width: 226px;
  height: 19px;
  color: #7a8c99;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1741177px;
}


/* End of Search Bar*/